@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalam&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Indie+Flower&family=Kalam&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Indie+Flower&family=Kalam&family=Marck+Script&family=Pacifico&display=swap');

body{
    background-color: white;
}

.h1{
    color: black;
    font-family: 'Kalam', cursive;
    font-size: large;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kalam', cursive;
    color: white;
    border: none;
}
a, label{
    font-size: .8rem;
}

a:hover{
    color: #32bf94;
}

#login-container{
    background-color: #71eac5;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
}

form{
    margin-top: 30px;
    margin-bottom: 40px;
}

label, input{
    display: block;
    width: 100%;
    text-align: left;
}

label{
    font-weight: bold;

}
input{
    border-bottom: 2px solid #32bf94;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    background-color: white;
}


.imput:focus{
    border-bottom: 2px lightskyblue;
}

#forgot-pass{
    text-align: right;
    display: block;
}

input[type=submit]{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: white;
    background-color: #32bf94;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #12aa7c;
    transition: 5s;
}
#register-container p{
    margin-bottom: 10px;
}